/* ################## */
/* #### globals ##### */
/* ################## */

:root{
    --navigation-color:#19242E;
    --main-content-left-color: #3498DB;
    --main-content-right-color: #19242E;
    --footer-back-color: #ecf0f1;
    --placeholder-cat-color: #c0c0c0;
    --placeholder-img-color: #dadada;
    --placeholder-title-color: #dadada;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* ######################### */
/* #### end of globals ##### */
/* ######################### */



/* #################### */
/* #### main page ##### */
/* #################### */

/* ENTIRE PAGE */
.container{
    display: grid;
    grid-template-rows:70px calc(100vh - 70px) 100px ;
    margin: 0 auto;
    /* text-align: center; */
}
/* NAVIGATION BASE */
.navigation{
    width: 100%;
    background-color: var(--navigation-color);
}

/* CONTAINER WITH ALL ELEMETS */
.navigation-container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 30% 1fr 15% 7% 7%;
    grid-template-rows: 70px;
    align-items: center;
}


/* LOGO WITH BOTH IMG AND PARAGRAPH*/
.navigation-container .nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: #fff;
}
/* IMAGE IN LOGO DIV */
.navigation-container .nav-logo img{
    width: 40px;
}


/* WEBSITE NAVIGATION */
.navigation-container .nav-elem ul{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}
.navigation-container .nav-elem ul li a{
    padding: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
}

/* SEARCH BOX */
.navigation-container .nav-search img{
    width: 25px;
}
.navigation-container .nav-search input{
    width: 100%;
    font-size: 1em;
    border: none;
    color: #fff;
    text-indent: 10px;
    background-color: transparent;
}
.navigation-container .nav-search{
    display: flex;
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 30px;
}

/* USER IMAGE */
.navigation-container .nav-user{
    text-align: center;
}
.navigation-container .nav-user img{
    width: 40px;
    height: 40px;
}

/* PAGE BODY */
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--main-content-left-color);
}
/* LEFT PART OF PAGE WITH IMAGE */
.content .content-left{
    padding: 60px 40px 60px 40px;
    background-color: var(--main-content-left-color);
    display: grid;
    grid-template-rows: 80% 10%;
    justify-content: center;
    align-content: center;
}
.content .content-left img, .content .content-left button{
    width: 80%;
    height: 70%;
    margin: 0 auto;
    /* margin-left: 10%; */
    
}
.content .content-left button{
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 50px;
    font-size: 1.9em;
    height: 100%;
    color: #fff;
}

/* RIGHT PART OF A PAGE WITH TEXT */
.content .content-right{
    background-color: var(--main-content-right-color);
    border-bottom-left-radius: 550px;
}
.content .content-right p{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin-top: calc(100vh - 70vh);
    margin-left: 60px;
}

/* FOOTER */
footer{
    background-color: var(--footer-back-color);
    margin-top: auto;
    padding: 10px;
}
.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-container .footer-logo img{
    width: 30px;
}
.footer-container .footer-logo p{
    font-size: 1.5em;
}
.footer-container .footer-logo, .footer-container .footer-autor, .footer-navigation ul li{
    display: flex;
    align-items: center;
}
.footer-navigation ul li{
    list-style-type: none;
}
.footer-navigation ul li a{
    color: black;
    text-decoration: none;
    padding:10px;
}
.footer-container .footer-autor{
    justify-content: center;
}
/* ########################### */
/* #### end of main page ##### */
/* ########################### */





/* ##################### */
/* #### Categories ##### */
/* ##################### */
.category-container{
    display: flex;
    flex-direction: column;
    
}
.main-category{
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 1.5rem;
    justify-content: space-around;
    width: 80%;
    min-height: 150%;
    height: auto;
    margin: 0 auto;
}

/* dynamic div when api data is loaded*/
.category-element{
    height: 200px;
    width: 20%;
    max-width: 200px;
    background-color: #ecf0f1;
    border-radius: 15px;
    margin:10px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.category-element:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.category-img{
    width: 100%;
    height: 70%;
    object-fit: scale-down;
}
.category-title{
    height: auto;
    text-align: center;
    margin-top: 10px;
}
/* placeholder elements that are present until data is loaded from api */
.placeholder-cat, .placeholder-img, .placeholder-title{
    display: block;
    content: ' ';
}
/* main placeholder div */
.placeholder-cat{
    height: 200px;
    width: 200px;
    background-color:var(--placeholder-cat-color);
    border-radius: 20px;
    padding: 10px;
}
/* placeholder image */
.placeholder-img{
    background-color: var(--placeholder-img-color);
    height: 60%;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/* placeholder title */
.placeholder-title{
    background-color: var(--placeholder-title-color);
    height: 20%;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}
